<f:layout name="Default"/>

<f:section name="HeaderAssets">
    <f:spaceless>
        <f:for each="{services}" as="service">
            <f:render partial="Service/{service.provider}" section="Header" arguments="{service:service}" optional="1"/>
        </f:for>
    </f:spaceless>
</f:section>

<f:section name="FooterAssets">
    <f:spaceless>
        <f:for each="{services}" as="service">
            <f:render partial="Service/{service.provider}" section="Footer" arguments="{service:service}" optional="1"/>
        </f:for>

        <f:comment>
            <!-- Klaro library is added here to ensure it is loaded after the klaroConfig. -->
        </f:comment>
        <script src="{f:uri.resource(path: 'Library/klaro/js/klaro-no-css.js')}"></script>
    </f:spaceless>
</f:section>
