// Overwrite klaro variables
$cm-bg-dark: #fff;
$cm-border-radius: 0;
$cm-font-color-dark: #161f57;
$cm-green1: $cm-font-color-dark;

@import "../Library/klaro/scss/klaro";

// Theme variables
$cm-btn-bg: #efefef;
$cm-btn-success-bg: $cm-green1;
$cm-btn-success-color: #fff;
$cm-btn-lern-more-bg: transparent;
$cm-btn-lern-more-color: $cm-btn-success-bg;
$cm-slider-bg: #cccccc;
$cm-slider-toggle-bg: $cm-green1;
$cm-slider-required-bg: #cccccc;
$cm-slider-required-toggle-bg: #939393;

.klaro {
  .cookie-modal,
  .cookie-notice {
    font-size: 16px;

    a {
      font-weight: 500;
      text-decoration: underline;
    }

    .cm-btn {
      background: $cm-btn-bg;
      padding: 1em 1.5em;
      text-align: center;
      margin-right: 0;
      border-radius: 0;
      font-size: 14px;

      &.cm-btn-success {
        background: $cm-btn-success-bg;
        color: $cm-btn-success-color;
      }

      &.cm-btn-lern-more {
        background: $cm-btn-lern-more-bg;
        color: $cm-btn-lern-more-color;
        text-decoration: underline;
      }
    }

    .slider {
      box-shadow: none;
    }
  }

  .cookie-notice {
    .cn-body {
      p {
        margin-top: 0;
      }
    }

    .cm-btn {
      width: 100%;
    }
  }

  .cookie-modal {
    .cm-bg {
      background: rgba(0, 0, 0, .7);
    }

    .cm-btn-decline {
      display: none;
    }

    .cm-modal {
      .cm-header {
        border: none;
        padding: 1.5em;

        h1 {
          font-size: 1.5em;
        }
      }

      // class ".hide" is also used by Bootstrap
      .hide {
        display: block !important;

        svg line {
          stroke-width: 2;
        }
      }

      .cm-body {
        padding: 0 1.5em 1.5em;

        ul.cm-services {
          li.cm-service {
            span.cm-list-title {
              font-weight: 500;
            }

            .cm-list-input {
              cursor: pointer;

              &.required + .cm-list-label .slider {
                background-color: $cm-slider-required-bg !important;

                &::before {
                  background-color: $cm-slider-required-toggle-bg;
                }
              }

              &:checked + .cm-list-label .slider {
                background: lighten($cm-slider-toggle-bg, 50%);

                &::before {
                  background: $cm-slider-toggle-bg;
                }
              }
            }

            &.cm-toggle-all {
              border: none;
            }
          }
        }
      }

      .cm-footer {
        background: #efefef;
        border: none;

        .cm-footer-buttons {
          justify-content: center;
        }

        .cm-powered-by {
          text-align: center;
        }
      }
    }

    .cm-list-label {
      .slider.round {
        height: 10px;
      }

      .slider {
        background-color: $cm-slider-bg;
        top: 8px;
        width: 42px;

        &::before {
          background-color: lighten($cm-slider-toggle-bg, 50%);
          bottom: -7px;
          height: 24px;
          left: -1px;
          width: 24px;
        }
      }
    }
  }

  .cookie-modal-notice {
    padding: 1.5em;

    @media(min-width: 400px) {
      max-width: 480px;
    }

    .cn-ok {
      flex-flow: column;

      > button {
        order: 2;
      }

      .cn-buttons {
        display: flex;
        flex-direction: column;
        width: 100%;

        .cm-btn-danger {
          order: 2;
        }

        .cm-btn {
          margin-bottom: 1em;
        }
      }
    }
  }

  button {
    &:focus {
      outline-style: none;
    }
  }

  // Additional theme variants
  &.bottom,
  &.top {
    .cookie-notice {
      max-width: 100%;

      @media screen and (min-width: 400px) {
        .cn-body {
          .cn-ok {
            flex-direction: row;
            justify-content: center;

            > button {
              width: auto;
              margin-left: 1em;
            }

            .cn-buttons {
              flex-direction: row;
              width: auto;

              .cm-btn {
                margin-bottom: 0;

                &.cm-btn-danger {
                  margin-left: 1em;
                }
              }
            }
          }
        }
      }

    }
  }

  &.bottom {
    .cookie-notice {
      top: 100%;
      transform: translateY(-100%);
    }
  }

  &.top {
    .cookie-notice {
      top: 0;
      transform: none;
    }
  }
}

// service-opt-in
.service-opt-in {
  padding: 1.5rem;
  border: 2px solid #cccccc;

  .form-check {
    margin-top: 1rem;

    input, label {
      cursor: pointer;
    }
  }
}
